.bg1{
    background:url("../_assets/petals.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.badge {
	white-space: pre-wrap;
}
